@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');

.Detail {
	.Layout {
		width: 100%;
		border-radius: 10px;
		height: 20rem;
		background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
		background-color: silver;
		position: relative;

		.Title {
			width: auto;
			height: auto;
			font-size: 7rem;
			padding: 1.5rem;
			margin-left: 40%;
			font-family: 'Mukta', sans-serif;
		}
		span {
			font-size: 1.6rem;
			margin-left: 2.6%;
			font-family: 'Mukta', sans-serif;
			position: absolute;
		}
	}
	h2 {
		font-weight: bold;
		font-size: 20px;
		text-align: center;
		font-family: 'Mukta', sans-serif;
	}
	.playsubTitle {
		font-family: 'Mukta', sans-serif;
		text-align: center;
	}

	iframe {
		width: 100%;
		height: 70vh;
		margin-top: 10px;
		border-radius: 10px;
	}
}
