@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

.Members {
	text-align: left;
	.content {
		width: 70rem;
		h1 {
			margin-left: 20px;
			font-size: 50px;
			margin-top: 2rem;
			font-family: 'Libre Baskerville', serif;
			font-weight: bold;
		}
		.lorem {
			font-family: 'Libre Baskerville', serif;
			font-size: 25px;
			position: fixed;
			top: 20rem;
			left: 68rem;
			text-align: center;
			background-color: gray;
			box-shadow: 20px 10px 10px 5px gray;
		}
		table {
			margin-left: 20px;
			width: 100%;
			border: none;
			border-top: 2px solid #333;
			border-bottom: 2px solid #333;
			border-right: 2px solid #333;
			border-left: 2px solid #333;

			th {
				width: 20%;
				border: none;
				border-bottom: 1px solid #bbb;
				padding: 15px 30px;
				text-align: left;
				&:last-child {
					text-align: center;
					input[type='submit'],
					input[type='reset'] {
						border: 1px solid #aaa;
						width: 150px;
						height: 30px;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						margin: 0px 10px;
						cursor: pointer;
					}
				}
			}
			td {
				border: none;
				border-bottom: 1px solid #bbb;
				border-left: 1px solid #bbb;
				padding: 15px 30px;

				input[type='text'],
				input[type='password'],
				textarea,
				select {
					width: 40%;
					border: 1px solid #aaa;
					padding: 6px 10px;
					background: #f3ffff;
					resize: none;
				}
				input[type='checkbox'],
				input[type='radio'] {
					margin-right: 20px;
					margin-left: 5px;
					padding-top: 30px;
				}
				#but {
					margin-left: 10px;
					width: 80px;
					height: 20px;
				}
				p {
					font: 0.8rem/1.2 '돋움';
					color: hotpink;
					margin-top: 5px;
				}
			}
		}
	}
}

//tablet mediaquery
.tablet,
.mobile {
	.Members {
		.content {
			table {
				td {
					input[type='text'],
					input[type='password'],
					textarea,
					select {
						width: 100%;
					}
				}
			}
		}
	}
}

//tablet mediaquery
.mobile {
	.Members {
		.content {
			table {
				th {
					display: none;
					&:last-child {
						display: block;
						width: 100%;

						input {
							width: 40%;
						}
					}
				}
				td {
					width: 100%;
					border-left: none;
					padding: 20px 0px;

					input[type='text'],
					input[type='password'],
					textarea,
					select {
						width: 100%;
					}
				}
			}
		}
	}
}
